In [40]:
import pandas as pd
import re

In [45]:
df = pd.read_csv("../dataset/train.csv")

In [13]:
df

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,(min) 24
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,19:50:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,(min) 33
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,08:45:00,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,(min) 26
3,0x7a6a,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,18:10:00,conditions Sunny,Medium,0,Buffet,motorcycle,1,No,Metropolitian,(min) 21
4,0x70a2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,13:45:00,conditions Cloudy,High,1,Snack,scooter,1,No,Metropolitian,(min) 30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45588,0x7c09,JAPRES04DEL01,30,4.8,26.902328,75.794257,26.912328,75.804257,24-03-2022,11:35:00,11:45:00,conditions Windy,High,1,Meal,motorcycle,0,No,Metropolitian,(min) 32
45589,0xd641,AGRRES16DEL01,21,4.6,0.000000,0.000000,0.070000,0.070000,16-02-2022,19:55:00,20:10:00,conditions Windy,Jam,0,Buffet,motorcycle,1,No,Metropolitian,(min) 36
45590,0x4f8d,CHENRES08DEL03,30,4.9,13.022394,80.242439,13.052394,80.272439,11-03-2022,23:50:00,00:05:00,conditions Cloudy,Low,1,Drinks,scooter,0,No,Metropolitian,(min) 16
45591,0x5eee,COIMBRES11DEL01,20,4.7,11.001753,76.986241,11.041753,77.026241,07-03-2022,13:35:00,13:40:00,conditions Cloudy,High,0,Snack,motorcycle,1,No,Metropolitian,(min) 26
45592,0x5fb2,RANCHIRES09DEL02,23,4.9,23.351058,85.325731,23.431058,85.405731,02-03-2022,17:10:00,17:15:00,conditions Fog,Medium,2,Snack,scooter,1,No,Metropolitian,(min) 36

1. Qual o valor da informação armazenada na linha 30 e na coluna 10?

In [14]:
df.iloc[30,10]

'22:40:00'

2. Selecione as linhas 0 a 20 e as colunas 0 a 2

In [16]:
df.iloc[:21, :3]

         ID Delivery_person_ID Delivery_person_Age
0   0x4607     INDORES13DEL02                   37
1   0xb379     BANGRES18DEL02                   34
2   0x5d6d     BANGRES19DEL01                   23
3   0x7a6a    COIMBRES13DEL02                   38
4   0x70a2     CHENRES12DEL01                   32
5   0x9bb4      HYDRES09DEL03                   22
6   0x95b4   RANCHIRES15DEL01                   33
7   0x9eb2      MYSRES15DEL02                   35
8   0x1102      HYDRES05DEL02                   22
9   0xcdcd      DEHRES17DEL01                   36
10  0xd987      KOCRES16DEL01                   21
11  0x2784     PUNERES13DEL03                   23
12  0xc8b6     LUDHRES15DEL02                   34
13  0xdb64      KNPRES14DEL02                   24
14  0x3af3      MUMRES15DEL03                   29
15  0x3aab      MYSRES01DEL01                   35
16  0x689b     PUNERES20DEL01                   33
17  0x6f67      HYDRES14DEL01                   34
18  0xc9cf      KOLRES15DEL03                   21
19  0x36b8     PUNERES19DEL02                   25
20  0x5795   RANCHIRES06DEL02                   31

3. Seleciona as linhas 5 a 30 e a coluna “Delivery_person_Age”

In [17]:
df.loc[5:30,'Delivery_person_Age']

5     22
6     33
7     35
8     22
9     36
10    21
11    23
12    34
13    24
14    29
15    35
16    33
17    34
18    21
19    25
20    31
21    37
22    33
23    25
24    29
25    27
26    35
27    32
28    23
29    31
30    36
Name: Delivery_person_Age, dtype: object

4. Selecione as linhas 40 a 42 e as seguintes colunas: “Restaurant_latitude”,
“Restaurant_longitude”, "Delivery_location_latitude”, “Delivery_location_longitude”

In [18]:
df.loc[40:42, ['Restaurant_latitude','Restaurant_longitude', 'Delivery_location_latitude', 'Delivery_location_longitude' ] ]

,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude
40,12.972532,77.608179,13.042532,77.678179
41,13.064181,80.236442,13.134181,80.306442
42,19.121999,72.908493,19.201999,72.988493

5. Qual a menor data de entrega da coluna “Order_Date” entre as linhas 0 a 50?

In [67]:
df['Order_Date'] = pd.to_datetime(df['Order_Date'], format='%d-%m-%Y')
aux = df.loc[0:50,['ID','Order_Date']]
aux.sort_values('Order_Date').iloc[0,1]

Timestamp('2022-02-11 00:00:00')

6. Qual a menor data de entrega da coluna “ Time_Orderd ” entre as linhas 0 a 50?

In [86]:
#df.loc[0:40,'Time_Orderd']

In [94]:
df['Time_Orderd'] = pd.to_datetime(df['Time_Orderd'], format='%H:%M:%S', errors='coerce')
aux = df.loc[0:50,['ID','Time_Orderd']]
aux.sort_values('Time_Orderd',ascending=True).iloc[0,1]

Timestamp('1900-01-01 08:15:00')

In [85]:
df.dtypes

ID                                     object
Delivery_person_ID                     object
Delivery_person_Age                    object
Delivery_person_Ratings                object
Restaurant_latitude                   float64
Restaurant_longitude                  float64
Delivery_location_latitude            float64
Delivery_location_longitude           float64
Order_Date                     datetime64[ns]
Time_Orderd                    datetime64[ns]
Time_Order_picked                      object
Weatherconditions                      object
Road_traffic_density                   object
Vehicle_condition                       int64
Type_of_order                          object
Type_of_vehicle                        object
multiple_deliveries                    object
Festival                               object
City                                   object
Time_taken(min)                        object
dtype: object

7. Quais os nomes únicos da coluna “City” entre as linhas 50 e 70?

8. Quais os nomes únicos da coluna “Weatherconditions” entre as linhas 0 e 10?

9. Quais os tipos de densidade de trânsito presente na coluna “Road_traffic_density” entre as linhas 0 a 20?

10. Qual o ID do entregador de comida mais velho entre as colunas 50 e 70?

11. Qual o ID do entregador de comida com a melhor avaliação de entrega entre as colunas 50 e 70?

12. Quais os tipos de veículos utilizados pelos entregadores entre as inhas 0 a 30?

13. Quais os tipos de pedidos único que foram entregues entre as colunas 100 e 120?